# Environment
*.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/

# Node
node_modules/
frontend/dist/

# Data
backend/chroma_data/
backend/uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
rag assisstant.pem
*.pem

# Cloudflare
.wrangler/
